@model TCSProject.Models.Employee

@{
    

    if(Session["AdmId"]== null)
    {
        Response.Redirect("~/Employee/Login");

    }
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateEmployeeDetails</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />


</head>
<body>
    <div class="main-menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Welcome <strong>@Session["AdmId"] !</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="mr-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ViewEmployee","Admin")">Search</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("AddEmployee","Admin")">Add Employee</a>
                            <a class="dropdown-item" href="@Url.Action("DeleteEmployee","Admin")">Remove Employee</a>
                            <a class="dropdown-item active" href="#">Update details <span class="sr-only">(current)</span></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Report","Admin")">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Upload","Admin")">Upload</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Logout","Employee")">Logout <i title="Logout" class="fas fa-sign-out-alt fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </nav>



    </div>



    <div class=" container text-center text-warning ">
        <h4>Update Employee </h4>
    </div>

    @using (Html.BeginForm())
    {
        <div class="container">

        
        <table class="table  table-bordered">
            <tr style="background: #ffc107;">
                <th>Employee</th>
                <th>Details to be filled</th>
                <th></th>
            </tr>
            
            <tr>
                <td>
                    Employee ID
                </td>
                <td>
                    @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td colspan="2"><input class="btn btn-outline-warning my-2 my-sm-0" type="submit" value="Search" /></td>
            </tr>
            
        </table>
            </div>
    }


       

    

    <p class="text-danger">@ViewBag.Temp</p>



    @if (ViewBag.UpdateEmpStatus != null)
    {
        if (ViewBag.UpdateEmpStatus == true)
        {
            <div class="container">
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>
            </div>
        }
    }

    @if (ViewBag.IsEmployeePresent != null)
    {
        if (ViewBag.IsEmployeePresent == true)
        {

            using (Html.BeginForm("Later", "Admin", FormMethod.Post))
            {

                <div class="container">
                    <table class="table table-bordered table-hover">
                        <tr style="        background: #ffc107;">
                            <th>Employee</th>
                            <th>Details to be filled</th>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.EmpId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.EmpId)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ProjectId, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.WONNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.WONNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.ProjectDetails, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ProjectDetails, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.AssetId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.AssetId, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.TokenId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.TokenId, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">

                                <input class="btn btn-outline-warning my-2 my-sm-0" type="submit" value="Update Details" />
                            </td>
                        </tr>
                    </table>

                </div>

            }



        }
        else
        {

            <div class="container">
                <div class="alert alert-danger" role="alert">
                    No such employee found.
                </div>
            </div>
        }
    }



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
