@model TCSProject.Models.Employee


@{
    if (Session["AdmId"] == null)
    {
        Response.Redirect("~/Employee/Login");
    }
    Layout = null;

    

}
    <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .myClass {
            margin: auto;
            width: 60%;
            border-color :#bbbbbb ;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div>


        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Welcome <strong>@Session["AdmId"] !</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Home","Admin")">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("AddEmployee","Admin")">Add Employee</a>
                                <a class="dropdown-item" href="@Url.Action("DeleteEmployee","Admin")">Remove Employee</a>
                                <a class="dropdown-item" href="@Url.Action("UpdateEmployeeDetails","Admin")">Update details</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Report","Admin")">Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Upload","Admin")">Upload</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("Logout","Employee")">Logout <i title="Logout" class="fas fa-sign-out-alt fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>



        </div>

    </div>







    @using (Html.BeginForm())
    {



        <div class="form-group myClass">
            <div class="form-inline myClass">


                <strong>Employee ID: </strong>&nbsp @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control ", placeholder = "Eg: 1872310", type = "search" } })




                &nbsp<input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" />


            </div>
        </div>



        <!--
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            </form>
        -->


    }

    @if (ViewBag.IsEmployeePresent != null)
    {


        if (ViewBag.IsEmployeePresent == true)
        {
            string s = Model.EmpId.ToString();
            <div class="container">

                <!--
                <div class="limiter">
                    <div class="container-table100">
                        <div class="wrap-table100">
                            <div class="table">

                                <div class="row header">
                                    <div class="cell">
                                        Employee
                                    </div>
                                    <div class="cell">
                                        Details
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="cell" data-title="Employee ID">
                                        Employee ID
                                    </div>
                                    <div class="cell" data-title="Employee ID">
                                        @Html.DisplayFor(model => model.EmpId)
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="cell" data-title="FirstName">
                                        First Name
                                    </div>
                                    <div class="cell" data-title="First Name">
                                        @Html.DisplayFor(model => model.FirstName)
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="cell" data-title="Last name">
                                        Last Name
                                    </div>
                                    <div class="cell" data-title="Last Name">
                                        @Html.DisplayFor(model => model.LastName)
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="cell" data-title="Email ">
                                        Email ID
                                    </div>
                                    <div class="cell" data-title="Email ">
                                        @Html.DisplayFor(model => model.Email)
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="cell" data-title="Project ID">
                                        Project ID
                                    </div>
                                    <div class="cell" data-title="Project ID">
                                        @Html.DisplayFor(model => model.ProjectId)
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="cell" data-title="WON Number">
                                        WON Number
                                    </div>
                                    <div class="cell" data-title="WON Number">
                                        @Html.DisplayFor(model => model.WONNumber)
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="cell" data-title="Project Details">
                                        Project Details
                                    </div>
                                    <div class="cell" data-title="Employee ID">
                                        @Html.DisplayFor(model => model.ProjectDetails)
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                -->







                <table class="table table-bordered table-hover" id="TableData">
                    <tr style="background: #6fcf99;">
                        <th>
                            Employee
                        </th>
                        <th>
                            Details
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(model => model.EmpId)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.EmpId)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong> @Html.DisplayNameFor(model => model.FirstName)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.FirstName)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong> @Html.DisplayNameFor(model => model.LastName)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.LastName)
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <strong> @Html.DisplayNameFor(model => model.Email)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(model => model.ProjectId)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.ProjectId)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(model => model.WONNumber)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.WONNumber)
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(model => model.ProjectDetails)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.ProjectDetails)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(model => model.AssetId)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.AssetId)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(model => model.TokenId)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.TokenId)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>@Html.DisplayNameFor(model => model.Location)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Location)
                        </td>
                    </tr>
                </table>



            </div>
            <center>
                <button id="PDF" class="btn btn-outline-success my-2 my-sm-0" onclick="downloadPdf()">Download PDF</button>
                <button id="XLS" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='@Url.Action("Export","Admin")'">Download Excel</button>
            </center>

        }
        else
        {
            <div class="container">
                <div class="alert alert-danger" role="alert">
                    @Html.ValidationMessageFor(model => model.EmpId, "No such employee found")
                </div>
            </div>
        }
    }






    <script type="text/javascript">
        function downloadPdf() {
            html2canvas($("#TableData")[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download( @ViewBag.EmployeeNumber + ".pdf");
                }
            })
        }
    </script>
    <script type="text/javascript">
        function exportToExcel(tableID, filename = '') {
            var downloadurl;
            var dataFileType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTMLData = tableSelect.outerHTML.replace(/ /g, '%20');
            filename = filename ? filename + '.xls' : 'export_excel_data.xls';
            downloadurl = document.createElement("a");
            document.body.appendChild(downloadurl);
            if (navigator.msSaveOrOpenBlob) {
                  var blob = new Blob(['\ufeff', tableHTMLData], {
                    type: dataFileType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                downloadurl.href = 'data:' + dataFileType + ', ' + tableHTMLData;
                downloadurl.download = filename;
                downloadurl.click();
            }
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js" integrity="sha512-gYUM+7JjtBqPPGOgwgOZ+NwjGl+11/EP124oB+ihjlBpLgP5LTh7R/Iwcdy//cgH+QzrjspBiJI5iUegTNww3w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA==" crossorigin="anonymous"></script>
    <footer class="pt-100">
    </footer>
</body>
</html>
